h1 {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased; 
  }
  .container{
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .container:after{
   content: '';
   width: 300px;
   height: 300px;
   background: inherit; 
   position: absolute;
   left: -25px;
   left-position-right: 0;
   top: -25px;  
   top-position-bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
   filter: blur(10px);
}
.user-icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://i.imgur.com/rsPJESj.jpg);
    
} 
h2 {
    text-align: center;
}

body {
    background-image: url("https://i.imgur.com/3OhDEJO.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#bio #personal {
    content: "";
    display: table;
    float: left;
    height: 470px;
    width: 30%;
    padding: 10px;
    clear: both;
    text-align: center;
}
#bio #professional {
    content: "";
    display: table;
    float: right;
    height: 470px;
    width: 33%;
    padding: 10px;
    clear: none;
    text-align: center;
}
#bio #hobbies {
    content: "";
    display: table;
    float: none;
    height: 470px;
    width: 30%;
    padding: 10px;
    clear: none;
}
#bio #personal h3 {
    text-align: center;
    font-size: 64px;
}

#bio #hobbies h3 {
    text-align: center;
    font-size: 64px;
}
#bio #professional h3 {
    text-align: center;
    font-size: 64px;
}

