h1 {
    text-align: center;
    font-size: 64px;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%);
    font-family: Arial, Helvetica, sans-serif;
  }

#bio .container #cf{
    position: relative;
    top: 0;
    left: 0;
}
 
#bio .container #cf .user-icon-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 140px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-size: contain;
    
} 
#bio .container #cf .user-icon-top{
    position:relative;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#bio .container #cf .user-icon-bottom:hover {
    opacity: 0;
}
#bio .container #cf .user-icon-bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 459px;
    border-radius: 50%;
    background-size: contain;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
} 
h2 {
    text-align: center;
    font-size: 64px;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: url("https://i.imgur.com/Na6n0pE.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #282828;
}

#bio #personal {
    content: "";
    display: table;
    float: left;
    height: 470px;
    width: 30%;
    padding: 10px;
    clear: both;
    text-align: center;
}

#bio #personal #item {
    display: none;
    text-align: center;
    font-size: 24px;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    font-family: Arial, Helvetica, sans-serif;
}

#bio #professional {
    content: "";
    display: table;
    float: right;
    height: 470px;
    width: 33%;
    padding: 10px;
    clear: none;
    text-align: center;
}
#bio #professional #work {
    display: none;
    text-align: center;
    font-size: 24px;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    font-family: Arial, Helvetica, sans-serif;
}
#bio #hobbies {
    content: "";
    display: table;
    float: none;
    height: 600px;
    width: 30%;
    padding: 10px;
    clear: none;
}
#bio #hobbies #fun {
    display: none;
    text-align: center;
    font-size: 24px;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    font-family: Arial, Helvetica, sans-serif;
}
#bio #hobbies button {
    text-align: center;
    font-size: 64px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    color: white;
    width: auto;
    height: 200px;
    
}
#bio #personal button {
    text-align: center;
    font-size: 64px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    color: white;
    width: auto;
    height: 200px;
    
}

#bio #hobbies h3 {
    text-align: center;
    font-size: 64px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}
#bio #professional button {
    text-align: center;
    font-size: 58px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    color: white;
    width: auto;
    height: 200px;
}
a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(228 228 228 / 60%);
}


